/*.o
/check_acos
/check_acos.log
/check_acos.trs
/check_acospi
/check_acospi.log
/check_acospi.trs
/check_asin
/check_asin.log
/check_asin.trs
/check_asinpi
/check_asinpi.log
/check_asinpi.trs
/check_atan
/check_atan.log
/check_atan.trs
/check_atanpi
/check_atanpi.log
/check_atanpi.trs
/check_cos
/check_cos.log
/check_cos.trs
/check_cosh
/check_cosh.log
/check_cosh.trs
/check_cospi
/check_cospi.log
/check_cospi.trs
/check_exp
/check_exp.log
/check_exp.trs
/check_expm1
/check_expm1.log
/check_expm1.trs
/check_log
/check_log.log
/check_log.trs
/check_log10
/check_log10.log
/check_log10.trs
/check_log1p
/check_log1p.log
/check_log1p.trs
/check_log2
/check_log2.log
/check_log2.trs
/check_pow
/check_pow.log
/check_pow.trs
/check_sin
/check_sin.log
/check_sin.trs
/check_sinh
/check_sinh.log
/check_sinh.trs
/check_sinpi
/check_sinpi.log
/check_sinpi.trs
/check_tan
/check_tan.log
/check_tan.trs
/check_tanpi
/check_tanpi.log
/check_tanpi.trs
/crlibm_blindtest
/crlibm_generate_test_vectors
/crlibm_soaktest
/crlibm_testperf
/crlibm_testval
/test-suite.log
